version: 0.0.1
server:
  port: 8080
---
spring:
  config:
    activate:
      on-profile: default,development
  redis:
    host: localhost
    port: 6379
    password: "ta,TvT5P]ox<Ho0vs"
    database: 0
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace
hexa-page-jwt-secret-key: HexaH0mePageBack
---
spring:
  config:
    activate:
      on-profile: production
  cloud:
    vault:
      enabled: true
      token: ${VAULT_TOKEN}
      kv:
        enabled: true
        backend: kv
        application-name: homepage/backend/production
      uri: https://vault.hexa.pro
---
file:
  uploadPath: "./files"
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
